.example-full-width{
    width: 60%
}
div.table-container{
    position: relative;
    max-height: 400px;
    overflow: auto;
    width: 100%;
    margin: 15px 5%;
    margin-bottom: 40px;

    table{
        width: 100%;
    }
}
mat-icon{
    cursor: pointer;
}

.create-task-btn{
	font-size: 20pt;
    height: 45px;
    width: 250px;
}